{% if pagination.pages is not empty %}
    <ul class="pagination justify-content-center p-0 m-0 mt-3 mb-3">
        {% if pagination.pages|first and pagination.pages|first.current != 1 %}
            <li class="page-item">
                <a href="{{ pagination.prev.link }}" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="{{ pagination.prev.link }}" class="page-link" tabindex="-1">Previous</a>
            </li>
        {% endif %}
        {% for pager in pagination.pages %}
            {% if pager.current %}
                <li class="page-item active">
                    <a href="{{ pager.link }}" class="page-link">{{ pager.title }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="{{ pager.link }}" class="page-link">{{ pager.title }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if(pagination.next) %}
            <li class="page-item">
                <a href="{{ pagination.next.link }}" class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>
{% endif %}